* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/
.hidden{
  display: none;
}
.display{
  display: block;
}
.inputs{
  text-align: center;
  border: 0.5rem outset pink;
  outline: 0.5rem solid khaki;
  box-shadow: 0 0 0 2rem skyblue;
  border-radius: 12px;
  font: bold 1rem sans-serif;
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem;
  width: 50%;
  margin-left: 25%;
}
.here, .late{
  float: left;
  width: 45%;
}
.here{
  margin-left: 5%;
}
.here > h2, .late > h2{
  color: #4ECCD9;
  font-size: 3em;

}
.here > ol, .late > ol{
  font-size: 2em;
  font-weight: bold;
}
.list{
  margin-left: 25%;
}
#head{
margin-left: 5%;
}
#enter, #present, #tardy, #all{
  height: 50px;
  border-radius: 10px;
  font-weight: bold;
  font-style: italic;
}
